.container {
  max-width: 800px;
  margin: 10px auto;
}

.main-body {
  border: solid 1px #ffffff;
  border-radius: 10px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  font-family: "Comfortaa", cursive;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

form {
  text-align: center;
  margin-top: 40px;
  width: 100%;
}

.location-search-bar {
  width: 450px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#search-button {
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.current-weather-section {
  display: block;
  margin: 40px 75px 40px;
  text-align: center;
}

.current-weather-left-section {
  height: 300px;
  border-radius: 5px;
  background-color: #f48fb1;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#icon-and-temperature-list {
  list-style: none;
  padding: 30px;
}

.current-weather-icon {
  text-align: right;
  font-size: 50px;
  color: white;
}

.current-temperature {
  text-align: left;
}

#temperature {
  font-size: 100px;
  font-weight: 400;
  color: white;
}

#celsius-units {
  position: relative;
  top: -55px;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.short-text-weather-description {
  text-align: right;

  font-weight: 200;
  color: white;
}

.short-text-weather-description:first-letter {
  text-transform: capitalize;
}

.current-weather-right-section {
}

#date-and-time {
  font-size: 24px;
  padding-top: 30px;
}

.current-date {
  font-size: 18px;
}

.current-city {
  font-size: 40px;
  padding: 20px;
}

.weather-measurements {
  list-style: none;
  text-align: center;
  margin-right: 40px;
  margin-top: 20px;
}

.week-forecast {
  display: block;
  margin: 5px 75px 20px;
  text-align: center;
}

.forecast-block {
  background-color: #a5d6a7;
  border-radius: 5px;
  padding: 5px 0;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin: 5px 10px 5px;
}
.week-forecast .fas {
  text-align: center;
  font-size: 30px;
}
.week-forecast .day {
  display: block;
  font-weight: 900;
}

.source-code-link {
  display: block;
  text-align: center;
  margin-top: 20px;
}
